#match {
	background-color:#ff8c00;
	border:solid;
	left:314;
	padding-left:8;
	padding-right:8;
	position:fixed;
	top:52;
	z-index:3;

}
#search {
	border:3px solid #033333;
	font-size:1.35em;
	left:20;
	position:fixed;
	top:50;
	z-index:3;
}

#titles {
	color:navy;
	float:right;
	font-size:.4em;
	padding-right:15%;
}

body {
	font-family:Verdana, Geneva, sans-serif ;
}

#message {
	background-color:#F4F4F4;
	border-size:2;
	border:solid;
	height:90;
	right:25;
	padding:5;
	overflow:scroll;
	text-align:justify;
	top:31;
	width:auto;
	z-index: 2;
	position:fixed;
    border-radius:2%;
}


#accept, #searchOptions {
	color:green;
	padding-top:10;

	text-align: right;
    font-size:.9em;
border-radius:15%;

}
.button {
  background-color: #eeeeee;
  border: 3px solid #000000;
  color:#000ff1;
  text-decoration:bold;
  padding-bottom:2;
  font-size:1.1em;
  border-radius:15%;
  color:black;
}

#closeX {
	background-color:#DCDCDC;
	top:1;
	right:1;
	padding-bottom:3px;
	border:solid;
    border-radius:33%;
	font-size:.4em;
	position:absolute;
}



#mediatop {
	text-align:left;
	font-size:1.9em;
	font-style:oblique;
	font-weight:50;
	padding-left:10px;
	color:#FF3300;
}

#ui-id-1,span  {
	float:left;
	font-size:1px;
	height:1%;
	max-height:1;
	max-width:1;
	overflow:hidden;
	text-decoration:none;
	top:99%;
	visibility:hidden;
	width:1%;
	z-index:-1;
    position:fixed;

}

#data {
	width:40%;
	height:65;
	position:relative;
	text-align:left;
	vertical-align:text-top;
	padding:30;
	font-size:.8em;
	visibility:hidden;
}

#nametitle {
	left:1;
	top:1;
	position:absolute;
	padding-left:3;

}
#year {
	right:1;
	bottom:1;
	position:absolute;
	padding-right:3;
}
#nas {
	left:1;
	bottom:1;
	position:absolute;
	padding-left:3;
}

#season {
	top:0;
	right:88;
	padding-right:3px;
	padding-left:3px;
	position:absolute;
}
#ep {
	top:0;
	right:0;
	padding-right:3px;
	padding-left:3px;
	position:absolute;
}
#genre {
	bottom:1;
	left:40%;
	position:absolute;
}
#mediaShowType {
	bottom:1;
	left:48%;
	position:absolute;
}
#showlist {
	color:navy;
	font-size:1.1em;
	margin-top:50;
	overflow:scroll;
	padding-left:20;
	visibility:hidden;
	z-index:5;
    border-radius:2%;
    left:5%;
    top:25%;
}

#preferences {
	top:0;
	right:10;
position:absolute;
}
