#match {
	background-color:#ff8c00;
	border:solid;
	left:314;
	padding-left:8;
	padding-right:8;
	position:fixed;
	top:52;
	z-index:3;

}
#search {
	border:3px solid #033333;
	font-size:1.35em;
	left:20;
	position:fixed;
	top:50;
	z-index:3;
}

#titles {
	color:navy;
	float:right;
	font-size:.4em;
	padding-right:15%;
}

body {
	font-family:Verdana, Geneva, sans-serif ;
}

#message {
	background-color:#F4F4F4;
	border-size:2;
	border:solid;
	height:85%;
	left:4%;
	overflow:scroll;
	text-align:justify;
	top:9%;
	width:91%;
	z-index:6;
 	position:fixed;
    border-radius:2%;
}

p {
	padding:5;
}

#head {
	background-color:#ff8c00;
	padding:9;
	font-size:1.4em;
	text-align:center;
}

#closeMessage {
	background-color:#DCDCDC;
	border:solid;
	height:20;
	padding-bottom:6;
	position:fixed;
	right:5%;
	text-align:center;
	top:10%;
	width:20;
	z-index:6;
  	cursor:pointer;
  	margin-right:3;
  	margin-top:1;
  	padding:0;
    border-radius:33%;
}

#closeX {
	padding-bottom:3px;
	border:none;
    border-radius:33%;
	font-size:1.1em;
}

img.info {
	cursor:pointer;
	position:fixed;
	right:45;
	top:1;
	float:left;
	z-index:6;
}

img.help {
	cursor:pointer;
	position:fixed;
	right:1;
	top:1;
	z-index:6;
}

#mediatop {
	text-align:left;
	font-size:1.9em;
	font-style:oblique;
	font-weight:50;
	padding-left:10px;
	color:#FF3300;
}

#ui-id-1,span  {
	float:left;
	font-size:1px;
	height:1%;
	max-height:1;
	max-width:1;
	overflow:hidden;
	text-decoration:none;
	top:99%;
	visibility:hidden;
	width:1%;
	z-index:-1;
    position:fixed;

}
#aaa {
	color:navy;
}

#data {
	width:40%;
	height:65;
	position:relative;
	text-align:left;
	vertical-align:text-top;
	padding:30;
	font-size:.8em;
	visibility:hidden;
}

#nametitle {
	left:1;
	top:1;
	position:absolute;
	padding-left:3;

}
#year {
	right:1;
	bottom:1;
	position:absolute;
	padding-right:3;
}
#nas {
	left:1;
	bottom:1;
	position:absolute;
	padding-left:3;
}

#season {
	top:0;
	right:150;
	padding-right:3px;
	padding-left:3px;
	position:absolute;
}
#ep {
	top:0;
	right:67;
	padding-right:3px;
	padding-left:3px;
	position:absolute;
}
#genre {
	bottom:1;
	left:40%;
	position:absolute;
}
#mediaShowType {
	bottom:1;
	left:48%;
	position:absolute;
}
#size{
	top:1;
	right:1;
	position:absolute;
	padding-right:3;
}
#showlist {
	color:navy;
	font-size:1.1em;
	margin-top:50;
	overflow:scroll;
	padding-left:20;
	visibility:hidden;
	z-index:5;
    border-radius:2%;
    left:5%;
    top:25%;
}
