#match {
	position:fixed;
	padding-left:8;
	padding-right:8;
	top:52;
	left:314;
	border:solid;
	background-color:#ff8c00;
	z-index:3;

}
#search {
	font-size:1.35em;
	top:50;
	left:20;
	position:fixed;
	border:3px solid #033333;
	z-index:3;
}



#titles {
	font-size:.4em;
	float:right;
	padding-right:15%;
	color:navy;
}

body {
	font-family:Verdana, Geneva, sans-serif ;
}

#message {
 	position:fixed;
	left:4%;
	top:9%;
	height:85%;
	width:91%;
	background-color:#F4F4F4;
	z-index:6;
	border:solid;
	border-size:2;
	overflow:scroll;
    	border-radius:2%;
	text-align:justify;
}

p {
	padding:5;

}
#head {
	background-color:#ff8c00;
	padding:9;
	font-size:1.4em;
	text-align:center;

}

#closeMessage {
	position:fixed;
  	cursor:pointer;
	right:5%;
	top:10%;
	background-color:#DCDCDC;
  	margin-top:1;
  	margin-right:3;
  	padding:0;
	padding-bottom:6;
	width:20;
	height:20;
	text-align:center;
	z-index:6;
	border:solid;
    	border-radius:33%;
}
#closeX {
	padding-bottom:3px;
	border:none;
    	border-radius:33%;
	font-size:1.1em;
}


img.info {
	cursor:pointer;
	position:fixed;
	right:45;
	top:1;
	float:left;
	z-index:6;
}

img.help {
	cursor:pointer;
	position:fixed;
	right:1;
	top:1;
	z-index:6;
}

#mediatop {
	text-align:left;
	font-size:1.9em;
	font-style:oblique;
	font-weight:50;
	padding-left:10px;
	color:#FF3300;
}

#head  {
}







#ui-id-1,span  {
	font-size:1px;
	z-index:-1;
	max-height:1;
	max-width:1;
	visibility:hidden;
	overflow:hidden;
	top:99%;
	width:1%;
	height:1%;
	text-decoration:none;
	float:left;
     	position:fixed;

}
#aaa {
	color:navy;

}
#data {
	width:40%;
	height:65;
	position:relative;
	text-align:left;
	vertical-align:text-top;
	padding:30;
	font-size:.8em;
	visibility:hidden;

}
#nametitle {
	left:1;
	top:1;
	position:absolute;
	padding-left:3;

}
#year {
	right:1;
	bottom:1;
	position:absolute;
	padding-right:3;
}
#nas {
	left:1;
	bottom:1;
	position:absolute;
	padding-left:3;
}

#season {
	top:0;
	right:150;
	padding-right:3px;
	padding-left:3px;
	position:absolute;
}
#ep {
	top:0;
	right:67;
	padding-right:3px;
	padding-left:3px;
	position:absolute;
}
#genre {
	bottom:1;
	left:40%;
	position:absolute;
}
#mediaShowType {
	bottom:1;
	left:48%;
	position:absolute;
}
#size{
	top:1;
	right:1;
	position:absolute;
	padding-right:3;
}
#showlist {
	margin-top:50;
	visibility:hidden;
	padding-left:20;
       	left:5%;
       	top:25%;
	text:1.2em;
	z-index:5;
	overflow:scroll;
	font-size:1.1em;
	color:navy;
    	border-radius:2%;
}
